<template>
 <div id="contacts">
  <div v-for="(food) in foods" :key="food.id">
   <p>{{food.name}} {{food.type_name}} {{food.address}}</p>
  </div>             
 </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      foods: [],
      name: [],
      last_name: [],
      type_name: [],
      address: [],
      errors: [],
    };
  },
  created() {
    axios.get('http://localhost:3000/api/v1/foods')
      .then((response) => {
        this.foods = response.data;
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>